/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background: linear-gradient(150deg, #58D68D, #5c8063);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del contenedor del formulario */
.formulario {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título del formulario */
.formulario h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos del formulario */
.formulario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}

/* Estilo de los campos de texto */
.usuario {
    position: relative;
}

.usuario label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #8a8a8a;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s;
}

/* Estilo de los inputs */
.usuario input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de enfoque en los inputs */
.usuario input:focus {
    border-color: #58D68D;
    box-shadow: 0 0 8px rgba(88, 214, 141, 0.5);
}

.usuario input:focus + label,
.usuario input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    color: #58D68D;
    font-size: 14px;
}

/* Estilo para el botón de iniciar sesión */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #8cb686;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6fa474;
}

/* Enlace de registro */
.registrarse {
    background-color: #c7c6c6;
    border-radius: 12px;
    margin-top: 20px;
    text-align: center;
}

.registrarse a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    transition: text-decoration 0.3s;
}

.registrarse a:hover {
    text-decoration: underline;
}

/* Estilos para el enlace de "¿Olvidó su contraseña?" */
.recordar {
    color: #8a8a8a;
    font-size: 14px;
    text-decoration: none;
}

.recordar:hover {
    text-decoration: underline;
}
